.menu {
    display: flex;
    height: 50px;
    width: 1285px;
    background-color: #666d63;
    align-items: center;
    border-radius: 50px;
    flex-direction: row;
    justify-content: space-around;
}

.sakurabanner {
    height: fit-content;
    display: flex;
    align-items: center;

}

.menu-btn {
    display: contents;
    align-items: center;
    border-radius: 50;
    flex-direction: row;
    justify-content: space-between;

}

.main-text {
    color: #666d63;
    size: 64px;
}

body {
    background-color: #dedcda;
}

.main-btns {
    height: 35px;
    width: 325px;
    background-color: #a2a49e;
    border-radius: 50px;
    border: none;
}

.menu-btn2 {
    display: contents;
    align-items: center;
    border-radius: 50;
    flex-direction: row;
    justify-content: space-between;

}

.main-btns2 {
    height: 35px;
    width: 350px;
    background-color: #a2a49e;
    border-radius: 50px;
    border: none;
}


.fira-sans-condensed-thin {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-condensed-extralight {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-condensed-light {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-condensed-regular {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-condensed-medium {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-condensed-semibold {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-condensed-bold {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-condensed-extrabold {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-condensed-black {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-condensed-thin-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-condensed-extralight-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-condensed-light-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-condensed-regular-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-condensed-medium-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-condensed-semibold-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-condensed-bold-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-condensed-extrabold-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-condensed-black-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  
.baloo-bhaijaan-2 {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .sakuraflower {
      height: 50px;
      width: 50px;
  }